{% extends 'base.html' %}

{% block title %}Detalle del Equipo{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Información del Equipo</h2>
    <table class="table table-striped mt-3">
        <tbody>
            <tr>
                <th>Nombre Equipo</th>
                <td>{{ computer.get('cn', '') | join(', ')}}</td>
            </tr>
            <tr>
                <th>DNS Equipo</th>
                <td>{{ computer.get('dNSHostName', '') | join(', ') }}</td>
            </tr>
            <tr>
                <th>Sistema Operativo</th>
                <td>{{ computer.get('operatingSystem', '') | join(', ')}}</td>
            </tr>
            <tr>
                <th>Añadido al dominio</th>
                <td>{{ computer.get('whenCreated', '') | join(', ')}}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ computer.get('description', '') | join(', ') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ url_for('computer') }}" class="btn btn-secondary mt-3">Volver a la Lista</a>
</div>
{% endblock %}
