{% extends 'base.html' %}

{% block title %}Grupo{% endblock %}

{% block content %}        
<h2>Grupo</h2>
<a href="{{ url_for('dashboard') }}" class="btn btn-success mb-3">Inicio</a>
{% if is_admin %}
<a href="{{ url_for('new_group') }}" class="btn btn-success mb-3">Crear Grupo</a>
{% endif %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>displayName</th>
            <th>Ruta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for grupo in grupos %}
        <tr>
            <td>{{ grupo['cn'][0] }}</td>
            <td>{{ grupo.get('distinguishedName', ['No disponible'])[0] }}</td>
            <td>
                <a href="{{ url_for('group_detail', cn=grupo['cn'][0]) }}" class="btn btn-info btn-sm">Ver Detalles</a>
                {% if is_admin %}                
                <a href="{{ url_for('delete_group', cn=grupo['cn'][0]) }}" class="btn btn-danger btn-sm">Eliminar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}