{% extends 'base.html' %}

{% block title %}Detalle del Grupo{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Información del Grupo</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row" class="bg-light text-end">Nombre</th>
                        <td>{{ group.get('cn', '') | join(', ') }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light text-end">Miembros</th>
                        <td>{{ group.get('member', '') | join(', ') }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light text-end">Miembro de</th>
                        <td>{{ group.get('memberOf', '') | join(', ') }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light text-end">Ruta</th>
                        <td>{{ group.get('distinguishedName', '') | join(', ') }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light text-end">Descripción</th>
                        <td>{{ group.get('description', '') | join(', ') }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ url_for('grupo') }}" class="btn btn-secondary mt-3">
                <i class="bi bi-arrow-left"></i> Volver a la Lista
            </a>
        </div>
    </div>
</div>
{% endblock %}
