{% extends 'base.html' %}

{% block title %}{{ action }} Usuario{% endblock %}

{% block content %}

<h2>Restablecer Contraseña</h2>
<form method="POST" action="{{ url_for('reset_password') }}">
    <div class="mb-3">
        <label for="new_password" class="form-label">Contraseña</label>
        <input type="password" name="new_password" id="new_password" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="confirm_password" class="form-label">Confirma la Contraseña</label>
        <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
    <a href="{{ url_for('dashboard') }}" class="btn btn-secondary mt-3">Volver a Inicio</a>
</form>

{% endblock %}